version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: auth-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: auth_db
    ports:
      - '5434:5432'
    volumes:
      - auth_postgres_data:/var/lib/postgresql/data
    networks:
      - auth-network

volumes:
  auth_postgres_data:
    driver: local

networks:
  auth-network:
    driver: bridge
